<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{job.title}}</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'career.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Jovian Careers</h1>
   
    <p class="lead">{{job.title}}</p>
    <h4>location</h4>
    <p>{{job.location}}</p>
    <ul>
        <li>Item A</li>
        <li>Item B</li>
        <li>Item C</li>
    </ul>
    <h3>Salary</h3>
    <p>{{job.salary}}</p>
    <h3>Description</h3>
    <p>{{job.Description}}</p>

    {% include 'footer.html' %}
</body>
</html>